

.error-container {
	display: flex;
	flex-direction: column;
	/* width: 80%;
  height: auto; */
}

.error-type {

}

.error-text {
	margin: 2px auto;
	padding: 15px 10px 15px 50px;
	background-position: 10px center;
	max-width: 460px;
	font-family: FontAwesome;
	font-size: 22px;
	font-weight: bolder;
	text-align: center;
	color: #f6eaea;
}

.error-image {
	width: 50%;
  height: auto;
	margin: 10px auto;
	padding: 15px 10px 15px 50px;
	background-position: 10px center;
	max-width: 460px;
	font-size: 24px;
}
