.App {
  text-align: center;
}

.header {
color: white;
text-align: center;
}

html {
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 0, 0),
    rgb(0, 0, 0)
    );
    height: 100%;
  }
  
.error-text {
  color: white;
}










