
.App {
  text-align: center;
}

/* * {
  border: 1px solid red;
  color: white;
} */

.header {
color: white;
text-align: center;
}

/* html {
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 0, 0),
    rgb(0, 0, 0)
    );
    height: 100%;
} */


body {
  background: url("../../assets/rt-background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.spinner {
  margin: auto;
  margin-left: 6em;
  margin-right: 6em;
  display: block;
  float: left;
  border: 25px solid red;
  width: 1px;
  height: 1px;
  border-radius: 50px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes spin {
  0% { transform: rotate(0deg) scale(1); }
  50% { transform: rotate(720deg) scale(0.6); -webkit-filter: blur(3px); }
  100% { transform: rotate(0deg) scale(1); }
}


