.App {
  text-align: center;
}

/* * {
  border: 1px solid red;
  color: white;
} */

.header {
color: white;
text-align: center;
}

/* html {
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 0, 0),
    rgb(0, 0, 0)
    );
    height: 100%;
} */


body {
  background: url("../../assets/rt-background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


