.movie-card {
    box-sizing: border-box;
    border: 3px solid black;
    padding: 10px;
    
}

.card-img {
  width: 100%;
  height: auto
}

.movie-card:hover {
  animation: pop 0.3s linear 1;
  display:inline-block;
  margin:0.4em;  padding:1em;
  transform: scale(1);
  transition: all .75s ease-in-out;
}

.titles {
  margin-top: 0%;
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
  font-size: x-large;
}

.ratings {
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: large;
  margin-left: 2%;
}

.tomatillo-image {
  width: 32.5px;
  height: 32.5px;
}

.rating-container {
  margin-top: -10%;
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}


