.movie-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 3em 3em;
  margin: auto;
  margin-left: 4em;
  margin-right: 4em;
  justify-content: space-space-between;
  align-content: center;
  justify-items: center;
  align-items: center;
}
