.navBar {
  display: flex;
  margin: auto;
  margin-top: 10px;
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 4em;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  color: white;
}

.logo {
  display: flex;
  justify-content: flex-start;
  width: 400px;
  height: auto;
}

.home-button {
  border-color: black;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #575656a1;
  background-color: red;
  color: black;
  font-size: 1em;
  padding: 4px 20px;
  transition-duration: .5s;
}

.home-button:hover {
  background-color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: black;
  cursor: pointer;
}
