.navBar {
    display: flex;
    justify-content: center;
    margin: 1em;
    background-color: black;
  }

  .title {
    display: flex;
    justify-content: center;
    color: white;
  }

  .logo {
    display: flex;
    justify-content: center;
    height: 30%;
    width: 60%;
  }


.home-button {
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  }

.home-button:hover {
    cursor: pointer;
    background-color: #f7f7f7;
  }